* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 30px;
}
nav .location {
  display: none;
}

nav .last-side,
nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
nav button img,
.hero-search .top button img,
.hero-search .bottom button img {
  margin-right: 5px;
}
.search-btn {
  color: #424242;
  margin-right: 10px;
  display: none;
}
.login-btn {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -1px 3px 10px #ffb800;
}

/* hero */

.hero-container {
  background-image: url('../Images/hero\ background.png');
  /* height: 600px; */
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  /* overflow: hidden; */
}
.left-hero h1 {
  color: #fff;
  margin-top: 30px;
}
.left-hero p {
  margin: 20px 0;
}
.right-hero {
  display: none;
}
.hero-search {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.hero-search .top {
  display: flex;
}
.hero-search .top button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18;
  padding: 10px 24px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}
.hero-search .top button:first-child {
  color: #f17228;
  background-color: #f1722825;
}
.hero-search hr {
  border: none;
  border-top: 1px solid #d1d1d1;
  margin: 20px 0;
}
.hero-search .bottom {
  display: flex;
  position: relative;
}
.hero-search .bottom input {
  flex: 1 1 80%;
  background-color: #f5f5f5;
  text-indent: 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  height: 47px;
}
.hero-search .bottom .loc {
  position: absolute;
  top: 8px;
  left: 15px;
}

.hero-search .bottom button {
  /* width: 49px; */
  flex: 0 0 130px;
  margin: 0 10px;
  padding: 10px;
  border: none;
  background: linear-gradient(#ff7a7a 0%, #f65900 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.special-section {
  padding: 50px 20px;
}
.special-section-1,
.special-section-2 {
  display: flex;
  margin: 20px;
}
.special-product {
  flex: 1 1 50%;
  margin: 20px;
}
.special-product p {
  margin-top: 30px;
  margin-bottom: 10px;
}
.special-product button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: rgba(241, 114, 40, 0.2);
  color: #f17228;
  font-weight: bold;
}

.special-product img {
  width: 100%;
}
@media (min-width: 662px) {
  nav {
    padding: 10px 60px;
  }
  .search-btn {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .highlight {
    font-weight: 600;
  }
  .hero-container {
    padding: 0px 80px;
  }
  .left-hero {
    flex: 1 1 60%;
  }

  .left-hero h1 {
    font-size: 62px;
    color: #fff;
  }
  .left-hero p {
    font-size: 18px;
  }

  .special-section-1,
  .special-section-2 {
    justify-content: center;
  }
  .special-product {
    flex: 0 1 auto;
  }
}
@media (min-width: 1200px) {
  nav .location {
    display: block;
  }
  .left-hero h1 {
    font-size: 68px;
    color: #fff;
  }
  .right-hero {
    flex: 0 0 497px;
    position: relative;
    display: block;
  }
  .right-hero img {
    width: 100%;
    position: relative;
    bottom: -35px;
  }
  .special-section {
    display: flex;
    justify-content: center;
  }
}
